body {
  background-image: url('http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture1_1200.jpg');
	background-size: 2000px;
	margin: 0 auto;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.7);
}

.zaarlbar {

	position: fixed;
	height: 60px;
	text-align: center;
	font-family: cursive;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/47dfbd4/images/shared/noise-2.png),-webkit-linear-gradient(top,#517fa4,#306088);
	
	.instagram-home {
		position: absolute;
		margin-left: 100px;
		background: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/47dfbd4/images/shared/shared-assets.png) no-repeat 6px -194px;
	}

	.zaarlogo{
		background: -webkit-linear-gradient(top, #FFF, #adadad);
		background: linear-gradient(top, #FFF, #adadad);
		font-size: 2.7em;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.cardbar {
	padding-top: 58px;
	background-color: rgba(0,0,0,0.1);
	width: 710px;
	margin: 0 auto;
	border: 3px solid rgba(200, 200, 200, .9);
	border-top: 0;
	border-bottom: 0;
	
	.card {
		border: 1px solid silver;
		margin: 0 auto;
		outline: #FFF;
		background-color: #D3D3D3;
		font-size: 1.4rem;
		font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif !important;
		width: 643px;
		-webkit-box-shadow: 0 1px 16px rgba(0,0,0,.1);
		-moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
		box-shadow: 0 1px 16px rgba(0,0,0,.1);

		.highlighted-text {
			color: #3f729b;
			font-weight: 500;
			display: inline-block;
		}

		.likes {
			color: #aaa;
			text-shadow: 0 1px 0 rgba(255,255,255,.8);
			position: relative;
			height: 40px;
			border-bottom: 1px solid #ddd;
			margin: 1px 0 -1px;
			background: #e6e6e6 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/47dfbd4/images/bg/white-gradient-100px.png) repeat-x 50% 50%;
			-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);
			-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);
			box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);
			text-overflow: ellipsis;
			overflow: hidden;

			.highlighted-text {
				line-height: 41px;
			}
			.heart {
				float: left;
				width: 60px;
				height: 40px;
				background: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/47dfbd4/images/feed/feed-assets.png) no-repeat 15px 7px;
			}

		}

		.comments {
			background: #fafafa;
			padding: 15px 0px 15px 15px;
			.single-comment{
				.highlighted-text{
					margin-right: 10px;
				}
				padding-bottom: 15px;
			}
			.profile-pic {
				height: 30px;
				width: 30px;
				margin-right: 10px;

			}
			.words {
				width: 586px;
				height: 30px;
				padding:0 7px;
				line-height:30px;
				font-size:14px;
			}
		}
		.no-friends {
			margin-bottom: 14px !important;
		}
	}
}



